{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
    Ваша корзина товаров
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Ваша корзина товаров</h1>
    {% if cart %}
        <div class="table-responsive">
            <table class="cart table table-bordered table-condensed">
                <thead>
                    <tr class="active">
                        <th>Изображение</th>
                        <th>Продукт</th>
                        <th>Количество</th>
                        <th>Удалить</th>
                        <th>Цена</th>
                        <th>Полная цена</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                        <tr>
                            <td name="product-image">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="img-responsive prod-img-cart-detail" src="{{ product.image.url }}" alt="" />
                                </a>
                            </td>
                            <td name="product-name">{{ product.name }}</td>
                            <td name="product-quantity">
                                <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    {% csrf_token %}
                                    <input type="submit" value="Обновить">
                                </form>
                            </td>
                            <td name="product-remove"><a href="{% url 'cart:CartRemove' product.id %}">Удалить</a></td>
                            <td name="product-price">{{ item.price }} грн./шт.</td>
                            <td name="product-total-price">{{ item.total_price }} грн.</td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                        <tr class="total success">
                            <td>Всего:</td>
                            <td colspan="4"></td>
                            <td name="cart-total-price">{{ cart.get_total_price }} грн.</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <p class="text-right">
            <a href="{% url 'shop:ProductList'%}">
                <button class="btn btn-warning">
                    Продолжить шопинг
                </button>
            </a>
            <a href="#">
                <button class="btn btn-success">
                    Оформить заказ
                </button>
            </a>
        </p>
    {% else %}
    <div class="text-center">
        <h3 class="text-muted"><em>Корзина пуста</em></h3>
        <br>
        <a href="{% url 'shop:ProductList'%}">
            <button class="btn btn-warning">
                Начать шопинг
            </button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}