{% extends "base.html" %}
{% load static %}
{% block head_title %}
    Обратная связь
{% endblock %}
{% block content %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Обратная связь</h1>
                <form action="{% url 'callback:Callback' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.phone }}
                    </div>
                    <button class="btn btn-success" type="submit">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}