<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="label label-default">BVShop</span></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'shop:ProductList' %}">Товары<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'callback:Callback' %}">Обратная связь</a></li>
                {% if user.is_staff %}
                    <li><a href="/admin">Админка</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    <li>
                        <a href="{% url 'cart:CartDetail' %}">
                            Ваша корзина: {{ total_items }} тов. {{ cart.get_total_price }} грн.
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'cart:CartDetail' %}">
                            Корзина пуста
                        </a>
                    </li>
                    {% endif %}
                {% endwith %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'wishlist:WishlistDetail' %}">
                            Избранное
                        </a>
                    </li>
                    <li>
                        <a href="/accounts/logout/">Выйти ({{ user.username }})</a>
                    </li>
                {% else %}
                <li class="login">
                    <a href="/accounts/login/">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>