{% extends "base.html" %}
{% load static %}
{% block head_title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive prod-img-detail" src="{{ product.image.url }}" alt="">
                {% if product.discount %}
                    <span class="discount-detail label label-danger">Скидка {{ product.discount }}%</span>
                {% endif %}
            </div>
            <div class="col-md-8">
                <h3>{{ product.name }}</h3>
                <h4 class="price">
                    Цена: {{ product.price }} ГРН
                </h4>
                <h4>
                    Производитель: {{ product.manufacturer }}
                </h4>
                <h4>
                    Год выпуска: {{ product.year_of_issue }}
                </h4>
                <span>
                    Описание: {{ product.description | linebreaks}}
                </span>
                <br>
                {% if user.is_authenticated %}
                    <div class="col-md-5">
                        <button class="btn btn-warning">
                            Добавить в корзину
                        </button>
                    </div>
                {% else %}
                    <div class="col-md-5 text-center">
                        <div class="alert alert-warning">
                            Войдите чтобы добавить товар в корзину
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}