{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}
    Витрина
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% include 'shop/product/sidebar.html' %}
        <div class="col-md-9 main">
            <h3>
                Результаты поиска
            </h3>
            <div class="items row">
                {% include 'shop/product/product_item.html' %}
            </div>
        </div>
    </div>
    {% include 'shop/product/pagination.html' %}
</div>
<div class="container">
    <div class="row">
        <h3 class="text-center">
            Последние поступления
        </h3>
        <br>
        <div class="col-md-12">
            <div class="items row">
                {% include 'shop/product/last_product_item.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}