{% load widget_tweaks %}

<div class="col-md-3 sidebar">
    <form method="get">{% csrf_token %}
        <h3>
            Фильтр
        </h3>
        <div class="form-group">
            {{ filter.form.name.label_tag }}
            {% render_field filter.form.name class="form-control" %}
        </div>
        <div class="form-group">
            {{ filter.form.category.label_tag }}
            {% render_field filter.form.category class="form-control" %}
        </div>
        <div class="form-group">
            {{ filter.form.manufacturer.label_tag }}
            {% render_field filter.form.manufacturer class="form-control" %}
        </div>
        <div class="form-group">
            {{ filter.form.min_year.label_tag }}
            {% render_field filter.form.min_year class="form-control" %}
        </div>
        <div class="form-group">
            {{ filter.form.max_year.label_tag }}
            {% render_field filter.form.max_year class="form-control" %}
        </div>
        <div class="form-group">
            {{ filter.form.min_price.label_tag }}
            {% render_field filter.form.min_price class="form-control" %}
        </div>
        <div class="form-group">
            {{ filter.form.max_price.label_tag }}
            {% render_field filter.form.max_price class="form-control" %}
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Искать
        </button>
    </form>
</div>
