<div class="col-md-3 sidebar">
    <h3>Поиск</h3>
    <form action="{% url 'shop:ProductListSearch' %}" method="GET">
        <input class="form-control" type="text" placeholder="Введите запрос" name="q">
        <button class="btn btn-success btn-search">Искать</button>
    </form>
    <h3>Категории</h3>
    <ul class="list-group">
        <a href="{% url "shop:ProductList" %}" {% if not category %} class="list-group-item active" {% endif %} class="list-group-item">
            Все
        </a>
        {% for cat in categories %}
        <a href="{{ cat.get_absolute_url }}" {% if category.slug == cat.slug %} class="list-group-item active"  {% endif %} class="list-group-item">
            {{ cat.name }}
        </a>
        {% endfor %}
    </ul>
</div>